.outer{
  width: 100%;
  height: auto;
}

.header{
  width: 100%;
  height: 50px;
  background-color: dimgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  h2{
    margin: 0;
    font-weight: bolder;
    color: aliceblue;
  }
}

.button-pad{
  width: 100%;
  height: auto;
  min-height: 50px;
  //display: flex;
  //justify-content: flex-start;
  align-items: center;
  padding: 0 20px;

  button{
    margin-right: 20px;
    margin-top: 5px;
  }
}


